
<table class="table">
  <thead  class="table-dark">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Price</th>
    <th>Units in Stock</th>
  </tr>
  </thead >

  <tbody>
  <tr  *ngFor="let tempProduct of products">
    <td class="align-center">
      <img src="{{tempProduct.imageUrl}}" height="50" alt=""/>
    </td>
    <td class="align-center">{{ tempProduct.name }}</td>
    <td class="align-center">{{tempProduct.unitPrice | currency: 'GBP'}}</td>
    <td class="align-center">{{ tempProduct.unitsInStock }}</td>
  </tr>
  </tbody>
</table>

